
<% content_for :head do %>
<!-- test dropping stuff in <head> tag -->
<% end %>


<% content_for :header_inside_container do %>
<p>~~~~container header stuff in artist index view~~~~</p>
<% end %>

<% content_for :footer_inside_container do %>
<p>~~~~container footer stuff in artist index view~~~~</p>
<% end %>

<h1>Artist#index</h1>
<p>Find me in app/views/artist/index.html.erb</p>

<p>Showing list of all artists</p>

<!-- ARTISTS TABLE -->

<%= will_paginate @artists %>
<p>
<table align=center border=1 summary="ARTISTS" >
  <caption>Artist in the DB</caption>
  <thead>
    <tr>
      <!-- th id="id" scope="col">ID#</th -->
      <th id="ar" scope="col">ARTIST</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2">Table Footer, so this is.</td>
    </tr>
  </tfoot>
  <tbody>
    <%= render :partial => "artists", :collection => @artists, :as => :artist %>
  </tbody>
</table>
</p>

<%= will_paginate @artists %>
