<h1>Album#view</h1>
<p>Find me in app/views/album/view.html.erb</p>

<p>Showings songs in album: <%= @album %> </p>
<!-- SONGS TABLE -->

<p>
<table align=center border=1 summary="Songs in album: <%= @album %>" >
  <caption>Album songs in the DB</caption>
  <thead>
    <tr>
      <th id="id" scope="col">ID#</th>
      <th id="tr" scope="col">TRACK#</th>
      <th id="ti" scope="col">TITLE</th>
      <th id="al" scope="col">ALBUM</th>
      <th id="ar" scope="col">ARTIST</th>
      <th id="pa" scope="col">PATH</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="6">Table Footer, so this is.</td>
    </tr>
  </tfoot>
  <tbody>
<%= render :partial => "layouts/song_info", :collection => @songs, :as => :song %>
  </tbody>
</table>
