<p>==== start - app sidebar ====</p>

<ul>
  <li><%= link_to "artists", :controller => "artist" %></li>
  <li><%= link_to "songs", :controller => "songs", :action => "index"%></li>
  <li><%= link_to "albums", :controller => "album", :action => "index"%></li>
</ul>

<p>==== end - app sidebar ====</p>
