<p>==== START - my sidebar thing ====</p>

<ul>
  <li><%= link_to "artists", :controller => "artist" %></li>
  <li><%= link_to "songs", :controller => "songs", :action => "index"%></li>
  <li><%= link_to "albums", :controller => "album", :action => "index"%></li>
</ul>

<p>==== END - my sidebar thing ====</p>
